<div id="detail-view" class="detail-view" *ngIf="segment">
  <div class="detail-header">
    <div class="segment-title">Showing details for: {{segment.segmentLongName}}</div>
  </div>
  <div class="detail-row">
    <div class="pieChart">
      <chart #pieChart [type]="pieType" [data]="pieData" [options]="pieOptions"></chart>
    </div>
    <div class="lineChart">
      <chart #lineChart [type]="lineType" [data]="lineData" [options]="lineOptions"></chart>
    </div>
  </div>
  <div class="detail-row">
    <div class="barChart">
      <chart #barChart [type]="barType" [data]="barData" [options]="barOptions"></chart>
    </div>
    <div class="radarChart">
      <chart #radarChart [type]="radarType" [data]="radarData" [options]="radarOptions"></chart>
    </div>
  </div>
</div>
