<div id="detail-view" class="detail-view" *ngIf="segment">
  <div class="detail-header">
    <div class="segment-title">Showing details for: {{ segment.segmentLongName }}</div>
  </div>
  <div class="detail-row">
    <div class="pieChart">
      <canvas id="pieChart" width="100" height="100"></canvas>
    </div>
    <div class="lineChart">
      <canvas id="lineChart" width="100" height="100"></canvas>
    </div>
  </div>
  <div class="detail-row">
    <div class="barChart">
      <canvas id="barChart" width="100" height="100"></canvas>
    </div>
    <div class="radarChart">
      <canvas id="radarChart" width="100" height="100"></canvas>
    </div>
  </div>
</div>
