.search-box {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
}

.search-box label {
    width: 3%;
}

.search-box .form-control {
    display: inline;
    width: 96%;
    height: 40px;
}
